.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.mypy_cache/
.pytest_cache/
pytest-cache-files-*/
outputs/*
!outputs/.gitkeep
data/*
!data/raw/
!data/processed/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.pt
*.png
*.csv
*.parquet
*.npz
checkpoints/
wandb/
key
key.pub
